html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#frame {
    width: 100%;
    height: 100%;
}
